#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.primary > button {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.primary :nth-child(2) {
  color: red;
}

.primary :nth-child(3) {
  color: blue;
}
